/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Adds custom Robotic font */
@font-face {
  font-family: 'sf_transroboticsoblique';
  src: url('webfontkit-20240125-184607/sf-transrobotics.oblique-webfont.woff2') format('woff2'),
       url('webfontkit-20240125-184607/sf-transrobotics.oblique-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Applying smooth scroll behavior to the entire page */
html {
  scroll-behavior: smooth;
}

/* Setting font and removing default body margin */
body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

/* Styling the navigation bar */
.fixed-nav {
  position: fixed; /* Ensuring the navigation bar stays fixed */
  top: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Choose your desired background color */
  z-index: 1000; /* Ensuring it appears above other elements */

  transition-property: box-shadow;
  transition-duration: 100ms;
}

.nav-streak {
  background: #aa0000;
  position: absolute;
  height: 100%;
  z-index: -500;
}

.nav-streak.a {
  width: 13%;

  --p: 20%; /* control the shape (can be percentage) */
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
}

.nav-streak.b {
  background: #d40000;
  width: 16%;

  z-index: -510;

  --p: 25%;
  clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
}

.nav-streak.c {
  background: #ff0000;
  width: 16%;

  z-index: -520;

  --p: 5%;
  clip-path: polygon(0 0,calc(100% - var(--p)) 0,100% 100%,0 100%);
}

.nav-shadow {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* Styling the navigation bar content */
.nav-bar {
  color: black;
  font-size: 40px;
  font-family: 'Barlow Condensed', sans-serif;
}

/* Styling the logo */
.logo {
  width: 10%;
  height: auto; /* Allowing proportional scaling */
  margin-left: 10px;
}

/* Styling the navigation list */
nav {
  display: flex;
  justify-content: space-between;
}

/* Styling the navigation links */
#navList {
  list-style: none; /* Removing default list styles */
  display: flex;
}

#navList li {
  margin-right: 20px; /* Adjusting spacing between list items */
  font-size: 3vw;
}

#navList a {
  text-decoration: none;
  color: black;
}

/* Ensuring smooth transition on hover */
#navList a:hover {
  color: #ff0000; /* Adjusting color on hover */
  transition: .3s;
}

.intro-page {
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  height: 80vh; /* Set height to fill the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.intro-heading {
  font-size: 5vw; /* Responsive font size */
  line-height: 6vw;
  height: 6vw;
  white-space: nowrap;
  font-family: 'sf_transroboticsoblique', sans-serif;
}

.scroll-target {
/*  background-color: red;
  height: 80px;*/
  scroll-margin-top: 100px;
}

.button {
  width: 40vw;
  max-width: 200px;
  height: 50px;
  background-color: #ff0000;
  color: white;
  border-radius: 30px;
  text-align: center;
  align-items: center;
  padding: 7px 0;
  font-size: 2vw; /* Responsive font size */
  font-weight: 300;
  transition: 0.4s;
  text-decoration: none;
  margin: 20px auto 0;
}

a {
  text-decoration: none;
  color: white;
}

.button:hover {
  background-color: #bebebe;
}

.button:active {
  background-color: black;
  color: #808080;
}

svg {
  align-items: center;
  width: 5vw;
  height: 5vw;
  transition: .4s;
}

/* Media Queries for Responsive Design */

/* For screens smaller than 768px */
@media (max-width: 768px) {
  .nav-bar {
    font-size: 4vw;
  }

  .logo {
    width: 15%;
  }

  #navList li {
    margin-right: 20px; /* Adjusting spacing between list items */
    font-size: 5vw;
  }

  .intro-heading {
    font-size: 8vw;
  }

  .intro-page {
    margin-top: 10vh;
  }

  .button {
    width: 30vw;
    height: 3vh;
    font-size: 4vw;
  }

  .robot-photo {
    height: 40vw;
    width: 40vw;
  }

  .robot-photo.wide:hover {
    height: 40vw;
    width: calc(4/3 * 40vw);
  }

  .robot-photo.wider:hover {
    height: 40vw;
    width: calc(5/3 * 40vw);
  }

  .robot-text h2 {
    font-size: 5vw;
  }

  .robot-text h3 {
    font-size: 4vw;
  }

  .our-awards {
    font-size: 8vw;
  }

  .award-text {
    font-size: 5vw;
  }

  .award-year {
    font-size: 8vw;
  }

  .socials-head {
    font-size: 8vw;
  }

  .fixed-nav {
    position: fixed;
  }

  .nav-streak.a {
    width: 19.5%;

    --p: 20%; /* control the shape (can be percentage) */
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
  }

  .nav-streak.b {
    background: #d40000;
    width: 24%;

    z-index: -510;

    --p: 25%;
    clip-path: polygon(0 0, 100% 0, calc(100% - var(--p)) 100%, 0 100%);
  }

  .nav-streak.c {
    background: #ff0000;
    width: 24%;

    z-index: -520;

    --p: 5%;
    clip-path: polygon(0 0,calc(100% - var(--p)) 0,100% 100%,0 100%);
  }

  svg {
    width: 10vw;
    height: 10vw;
  }
}

.reveal {
  position: relative;
  transform: translateY(10%);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.reveal-stationary {
  transform: translateY(0);
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal.scroll-fix {
  transform: translateY(0);
}

.reveal.scroll-fix.sf-instant {
  transition-property: transform;
  transition-duration: 0s;
}

.reveal.active.secondary-inactive {
  transform: translateY(0);
  opacity: 0;
}

.socials-icon {
  color: black;
  transition: 250ms color ease;
}

/* https://brandcolors.net/ */
.socials-icon.github:hover {
  color: #4078c0;
}

.socials-icon.youtube:hover {
  color: #ff0000;
}

.socials-icon.instagram:hover {
  color: #e1306c;
}

/* https://www.designpieces.com/palette/tiktok-color-palette-hex-and-rgb/ */
.socials-icon.tiktok:hover {
  color: #ff0050;
}

#about-sec {
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 20vh;
}

.about-our-team {
  font-size: 5vw; /* Responsive font size */
  font-style: italic;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: 'sf_transroboticsoblique', sans-serif;
}

/* For the center line */
/*noinspection CssReplaceWithShorthandSafely*/
hr {
  transform-origin: center;
  width: 7vw; /* Responsive line width */
  height: 0.5vh; /* Responsive line height */
  background-color: black;
  margin: 0 auto;
  margin-top: 2vh; /* Responsive margin top */
  margin-bottom: 2vh; /* Responsive margin bottom */
}

.about-writing {
  letter-spacing: 0.05em;
  width: 80%; /* Responsive width */
  text-align: center;
  line-height: normal;
  font-size: 2vw; /* Responsive font size */
  margin: 5vh auto 0;
}

/* Previous robot section */

#robots {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  margin: 20vh auto 0;
}

.robot-head {
  font-size: 5vw; /* Responsive font size */
  font-style: italic;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: 'sf_transroboticsoblique', sans-serif;
}

.robot-captioned-photos {
  display: flex;
  flex-wrap: wrap; /* Wrap elements in smaller screens */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.robot-captioned-photo {
  margin-top: 1vw; /* Responsive margin */
  margin-bottom: 1vw; /* Responsive margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.robot-photo {
  height: 30vw; /* Responsive height */
  width: 30vw; /* Responsive width */
  border-radius: 7%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  transition: .4s;
  margin: 0 2vw; /* Responsive margin */
  display: flex;
  object-fit: cover;
}

.robot-photo.wide:hover {
  height: 30vw; /* Responsive height */
  width: calc(4/3 * 30vw); /* Responsive width */
}

.robot-photo.wider:hover {
  height: 30vw; /* Responsive height */
  width: calc(5/3 * 30vw); /* Responsive width */
}

.robot-photo:hover {
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3);
}

.robot-text {
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.robot-text h2 {
  font-size: 3vw; /* Responsive font size */
  margin-bottom: 1vh; /* Responsive margin bottom */
}

.robot-text h3 {
  font-size: 2vw; /* Responsive font size */
}

/* Awards section */

#awards {
  margin-top: 20vh; /* Responsive margin top */
}

.our-awards {
  font-size: 5vw; /* Responsive font size */
  font-style: italic;
  letter-spacing: 0.15em; /* Responsive letter spacing */
  text-align: center;
  font-family: 'sf_transroboticsoblique', sans-serif;
}

.award-text {
  display: flex;
  flex-wrap: wrap; /* Wrap elements in smaller screens */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3vw; /* Responsive font size */
}

ul {
  list-style: none;
}

.award-year {
  color: #ff0000;
  font-weight: bold;
  font-size: 5vw; /* Responsive font size */
  vertical-align: baseline;
  text-align: left;
  padding-right: 2vw;
}

.award-desc {
  vertical-align: baseline;
  text-align: right;
}

table.award-table {
  width: 75vw; /* Responsive width */
  margin: 0 auto;
  border-collapse: collapse;
}

table.award-table tr {
  border-bottom: 1px dotted black;
}

/* Socials section */

#socials{
  height: 40vh;
}

.socials-head {
  font-size: 5vw; /* Responsive font size */
  font-style: italic;
  letter-spacing: 0.2em;
  text-align: center;
  font-family: 'sf_transroboticsoblique', sans-serif;
}

.social-logos{
  display: flex;
  flex-wrap: wrap; /* Wrap elements in smaller screens */
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 50px auto 0;
}
